@model List<LevelOne.Models.Category>


<div class="container-fluid">
    <h3>Categories</h3>
    <ul class="list-group">
        @foreach (var category in Model)
        {
            <li class="list-group-item">@Html.ActionLink(category.Name, "ItemList", "Home", new { categoryid = category.Id }, null)</li>
        }
    </ul>
</div>